<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title><%= title %></title>
    <script type="text/javascript">
      $(document).ready(function(){
        const no = '<%-list.no%>';
        const answer = JSON.parse('<%-JSON.stringify(list.answer)%>');
        const favorite = '<%-list.favorite%>';

        if (!favorite) {
          $("#favoriteButton").html('<svg xmlns="http://www.w3.org/2000/svg" onClick="favorite(' + no + ', false);" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/></svg>');
        } else {
          $("#favoriteButton").html('<svg xmlns="http://www.w3.org/2000/svg" onClick="favorite(' + no + ', true);" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>');
        }

        shuffle(answer);
        let html = '';
        // console.log(answer.length);
        for(let i=0; i<answer.length; i++)
        {
          // console.log(answer[i]);
          html += '<div class="form-check">';
          html += '<input class="form-check-input" id="flexCheckDefault'+ i.toString() +'" type="checkbox" value="' + answer[i].name + '" name="chkAnswer' + answer[i].name + '">';
          html += '<label class="form-check-label" for="flexCheckDefault'+ i.toString() +'" id="lblAnswer' + answer[i].name + '">';
          html += answer[i].text;
          html += '</label> ';
          // html += (answer[i].correct == true && getCookie('correct') == 'true') ? '<font color="red"> 정답</font>' : '';
          html += '</div><br> ';
        }

        // console.log(html);
        // console.log(answer);
        $("#divAnswer").html(html);

        if(getCookie('correct') == 'true') {
          for(let i=0; i<answer.length; i++)
          {
            if(answer[i].correct)
            {
              $("#lblAnswer" + answer[i].name).attr('style', "color:red");
            }
          }
        }
      });

      function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }

      function shuffle(a) {
        let j, x, i;
        for (let i = a.length; i; i -= 1) {
          j = Math.floor(Math.random() * i);
          x = a[i - 1];
          a[i - 1] = a[j];
          a[j] = x;
        }
     //   return a;
        // 무작위로 배열 출력
      }

      function answer() {
        const no = '<%-list.no%>';
          const answer = JSON.parse('<%-JSON.stringify(list.answer)%>');
          const question = $("#txtQuestion").val();
          let result = true;
          for(let i=0; i<answer.length; i++)
          {
            if(answer[i].correct)
            {
              $("#lblAnswer" + answer[i].name).attr('style', "color:red");

              if($('input:checkbox[name="chkAnswer' + answer[i].name + '"]').is(":checked") !== true) {
                console.log('test');
                result = false;
              }

            }
          }

          // const data = {no : parseInt(no), question: question, result : result}
          // axios.post('/check', data).then((res) => {
          //   console.log(res.data);
          //   // if (res.data.result === 'success') {
          //   //   alert('삭제하였습니다.');
          //   //   location.href = '/setting/channel/list';
          //   // } else {
          //   //   alert(res.data.result.message);
          //   // }
          // });

          if(result)
          {
            alert(no + ' 정답.');
          } else {
            alert(no + ' 틀림.');
          }

          return false;
      }

      function goNext() {
        const part = '<%-part%>';
        const no = '<%-list.no%>';
        const answer = JSON.parse('<%-JSON.stringify(list.answer)%>');
        const question = $("#txtQuestion").val();
        let result = true;
        for(let i=0; i<answer.length; i++)
        {
          if(answer[i].correct)
          {
            $("#lblAnswer" + answer[i].name).attr('style', "color:red");

            if($('input:checkbox[name="chkAnswer' + answer[i].name + '"]').is(":checked") !== true) {
              result = false;
            }
          }
        }

        const data = {no : parseInt(no), question: question, result : result, part: parseInt(part)}
        $("#txtBody").val(JSON.stringify(data));
        // axios.post('/check', data).then((res) => {
        //   console.log(res.data);
        // });

        // var url = window.location.href.split('?')[0];
        // window.location = url;
        // return false;
      }

      function modify() {
        const no = '<%-list.no%>';
        window.open('/modify/' + no, '_blank'); 
        return false;
      }

      function reload() {
        // window.location.href=window.location.href;
        location.reload();
      }

      function favorite(index, status) {
        const data = {'status': status};
        axios.put('/favorite/'+  index, data).then((res) => {
          if (!res.data) {
            $("#favoriteButton").html('<svg xmlns="http://www.w3.org/2000/svg" onClick="favorite(' + index + ', ' + res.data + ');" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/></svg>');
          } else {
            $("#favoriteButton").html('<svg xmlns="http://www.w3.org/2000/svg" onClick="favorite(' + index + ', ' + res.data + ');" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>');
          }
        });
        return false;
      }
    </script>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <main>
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">AWS Solution Achitect Professional (SAP-C01) v26.25</span>
          </a>
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <form action="/check" method="post">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">진행상황</label>
              <div class="col-sm-10">
                <span class="badge rounded-pill bg-dark" onclick="modify();" style="cursor:pointer;">고유번호 : <%= list.no %></span>&nbsp;
                <span class="badge rounded-pill bg-primary">진행률 : <%= info.percent %>%(<%= info.useCount %>/<%= info.questionCount %>)</span>&nbsp;
                <span class="badge rounded-pill bg-success">정답률 : <%= info.correctPercent %>%(<%= info.correctCount %>/<%= info.useCount %>)</span>
                <!-- <i class="bi bi-star-fill"></i> -->
                <span id="favoriteButton">
                 
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">진행기록</label>
              <div class="col-sm-10">
                <%
                    history.forEach((item) => {
                      %> <% if(item.correct) { %> <span class="badge bg-success">정답</span> <%= item.krTime %><% } else { %> <span class="badge bg-danger">틀림</span> <%= item.krTime %><%} %> <br> <%
                    });
                %>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">문제</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="txtQuestion" name="txtQuestion" rows="10"><%= list.question %></textarea>
              </div>
            </div>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">답변</legend>
              <div id='divAnswer' class="col-sm-10">
              </div>
            </fieldset>
            <button id='btnSubmit' type="submit" class="btn btn-primary" onclick="answer(); return false;">정답</button>
            <button id='btnNext' type="submit" class="btn btn-primary" onclick="goNext();">다음</button>
            <button id='btnRefresh' type="button" class="btn btn-primary" onclick="reload();">갱신</button>
            <input id='txtBody' type="hidden" name="txtBody">
          </form>
        </div>
    
        <footer class="pt-3 mt-4 text-muted border-top">
          &copy; 2021
        </footer>
      </div>
    </main>

  </body>
</html>